@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
}
body {
  margin: 0;
}
:root {
  //colors
  --color-white: #fff;
  --color-black: #333;
  --color-red-500: #e74c3c;
  --color-green-500: #27ae60;
  --color-blue-500: #3498db;
  --color-gray-300: gray;
  --color-gray-200: rgb(177, 172, 172);
  --color-brown-500: #a67b5b;

  //border
  --border-rounded: 0.5rem;
}

//components
@import "./components/header.scss";
@import "./components/btn.scss";
@import "./components/devider.scss";
@import "./components/container.scss";
@import "./components/input.scss";
@import "./components/sidebar.scss";
@import "./components/progressbar.scss";
@import "./components/loader.scss";
@import "./components/select.scss";
